<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.notepad.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.notepad.entity.User" >
    <id column="user_id" property="userId" jdbcType="CHAR" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_desc" property="userDesc" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="edit_time" property="editTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_code, username, password, user_desc, email, del_flag, create_time, 
    edit_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=CHAR}
  </select>
  <!-- 根据userCode查询User -->
  <select id="findUserByUserCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_code = #{userCode,jdbcType=CHAR}
    and del_flag=0;
  </select>
  
  <!-- 根据email查询User -->
  <select id="findUserByEmail" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where email = #{email,jdbcType=CHAR}
    and del_flag=0;
  </select>
  
  <!-- 登陆 -->
  <select id="login" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where (email = #{userCode,jdbcType=CHAR} and password = #{password,jdbcType=CHAR})
    or (user_code = #{userCode,jdbcType=CHAR} and password = #{password,jdbcType=CHAR})
    and del_flag=0;
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where user_id = #{userId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.notepad.entity.User" >
    insert into user (user_id, user_code, username, 
      password, user_desc, email, 
      del_flag, create_time, edit_time
      )
    values (#{userId,jdbcType=CHAR}, #{userCode,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{userDesc,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=INTEGER}, #{createTime,jdbcType=DATE}, #{editTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.notepad.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="userDesc != null" >
        user_desc,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userDesc != null" >
        #{userDesc,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.notepad.entity.User" >
    update user
    <set >
      <if test="userCode != null" >
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userDesc != null" >
        user_desc = #{userDesc,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.notepad.entity.User" >
    update user
    set user_code = #{userCode,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_desc = #{userDesc,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      edit_time = #{editTime,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=CHAR}
  </update>
  
  
  <!-- 分页查询所有属性 -->
	<select id="findUserByPage" resultMap="BaseResultMap">
	select 
    <include refid="Base_Column_List" />
    from user
    where 1=1
    
      order by create_time desc
      <!-- 分页 -->
      <if test="page_sql != null and page_sql !=''"  >
       ${page_sql}
      </if>
	</select>
</mapper>